  body {
    margin: 0;
  }

  .bg {
    background-image:url("../finalproject/img/bg-main@2x.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
  }

  .div1 {
    background-color: #65427c;
    height: 100vh;
    width: 100vw;
    background-attachment: fixed;
    background-position: center;
    line-height: 1.5;
  }
  h1 {
    color: #ea2864;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    font-size: 60px;
   font-weight: bold;
   font-style: normal;
   font-stretch: normal;
   line-height: 1;
   letter-spacing: normal;
   font-family: 'Teko', sans-serif;
  }

  p {
    text-align: center;
    font-size: 16px;
    margin-left: 280px;
    margin-right: 280px;
    margin-top: 30px;
    font-family: 'Space Mono', monospace;
    line-height: 1.5;
    letter-spacing: 0.6px;
    text-align: center;
    color: #ffffff;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
  }

.parallax1, .parallax2, .parallax3, .parallax4 {
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
}

.parallax1 {
  background-image: url("../finalproject/img/journey_to_mars.jpeg");
}

.parallax2 {
  background-image: url("../finalproject/img/elon.jpg");
}

.parallax3 {
  background-image: url("");
}

.parallax4 {
  background-image: url("s");
}

.mission {
    color: #ea2864;
    background-color: #65427c;
    margin: 0;
    text-align: center;
    font-size: 24px;
   font-weight: normal;
   font-style: normal;
   font-stretch: normal;
   line-height: 1;
   letter-spacing: normal;
   font-family: 'Teko', sans-serif;
}

#timer {
  color: #ea2864;
  background-color: #65427c;
  margin: 0;
  text-align: center;
  font-size: 48px;
 font-weight: normal;
 font-style: normal;
 font-stretch: normal;
 line-height: 1;
 letter-spacing: normal;
 font-family: 'Teko', sans-serif;
}
