  body {
    margin: 0;
  }

  body {
    font-family: 'Teko', sans-serif;
  }

  .bg {
    background-image:url("../finalproject/img/bg-main@2x.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
  }

  .div1 {
    background-color: #65427c;
    height: 100vh;
    width: 100vw;
    background-attachment: fixed;
    background-position: center;
  }
  h1 {
    color: #ea2864;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    font-size: 60px;
   font-weight: bold;
   font-style: normal;
   font-stretch: normal;
   line-height: 1;
   letter-spacing: normal;
  }

  p {
    text-align: center;
    font-size: 30px;
    margin-left: 200px;
    margin-right: 200px;
  }

.parallax1, .parallax2, .parallax3, .parallax4 {
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
}

.parallax1 {
  background-image: url("../finalproject/img/journey_to_mars.jpeg");
}

.parallax2 {
  background-image: url("../finalproject/img/elon.jpg");
}

.parallax3 {
  background-image: url('http://a.espncdn.com/photo/2014/0527/mag_suarez03_aw_1600x900.jpg');
}

.parallax4 {
  background-image: url('http://a.espncdn.com/photo/2014/0527/mag_suarez04_aw_1600x900.jpg');
}
